<a href="https://colab.research.google.com/github/YuliiaHudz/Python-Case-Studies/blob/main/Pivot_Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This script:  

✅ Creates a **pivot table** that displays total sales (`sales`) for each product category (`category`) and identifies the category with the highest total sales.  

✅ Creates a **pivot table** that shows total sales for each product (`product`) in each region (`region`) and determines which product had the highest sales in the **North** region.  

✅ Creates a **pivot table** that calculates both **total sales** and **average sales** for each product category. It also finds the average sales amount for the **Electronics** category.  

✅ Creates a **pivot table** with `fill_value=0` to ensure missing values are replaced with `0`, displaying total sales for each product and region.  

This task enhances **data aggregation** and **pivot table operations** using **Pandas**, helping analyze product sales across different categories and regions.

In [ ]:
import pandas as pd

# Creating a dataset
data = {
    "order_id": [201, 202, 203, 204, 205, 206, 207, 208, 209, 210],
    "product": [
        "Laptop",
        "Smartphone",
        "Laptop",
        "Tablet",
        "Smartphone",
        "Tablet",
        "Smartwatch",
        "Laptop",
        "Headphones",
        "Smartwatch",
    ],
    "category": [
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Wearables",
        "Electronics",
        "Accessories",
        "Wearables",
    ],
    "region": [
        "North",
        "South",
        "East",
        "North",
        "West",
        "South",
        "East",
        "West",
        "North",
        "West",
    ],
    "sales": [1500, 900, 1200, 600, 750, 450, 320, 1400, 200, 380],
}

df = pd.DataFrame(data)
print(df)

   order_id     product     category region  sales
0       201      Laptop  Electronics  North   1500
1       202  Smartphone  Electronics  South    900
2       203      Laptop  Electronics   East   1200
3       204      Tablet  Electronics  North    600
4       205  Smartphone  Electronics   West    750
5       206      Tablet  Electronics  South    450
6       207  Smartwatch    Wearables   East    320
7       208      Laptop  Electronics   West   1400
8       209  Headphones  Accessories  North    200
9       210  Smartwatch    Wearables   West    380

# Calculate total sales by category

In [ ]:
pivot_table_category = pd.pivot_table(df, values="sales", index="category", aggfunc="sum")
print(pivot_table_category)

             sales
category
Accessories    200
Electronics   6800
Wearables      700

Best selling category is Electronics.

In [ ]:
best_selling_category = pivot_table_category["sales"].idxmax()
print(f"Best selling category: {best_selling_category}")

Best selling category: Electronics

# Calculate total sales by region

In [ ]:
pivot_table_region = pd.pivot_table(df, values="sales", index="product", columns="region", aggfunc="sum")
print(pivot_table_region)

region        East   North  South    West
product
Headphones     NaN   200.0    NaN     NaN
Laptop      1200.0  1500.0    NaN  1400.0
Smartphone     NaN     NaN  900.0   750.0
Smartwatch   320.0     NaN    NaN   380.0
Tablet         NaN   600.0  450.0     NaN

# Find the product with the highest sales in the North region

In [ ]:
north_region_sales = pivot_table_region["North"]
best_selling_product_north = north_region_sales.idxmax()
print(f"Best-selling product in the North region: {best_selling_product_north}")

Best-selling product in the North region: Laptop

Laptop is the best-selling product in the North region.

# Calculate total and average sales by category

In [ ]:
pivot_table_sum_mean = pd.pivot_table(
    df, values="sales", index="category", aggfunc=["sum", "mean"]
)
print(pivot_table_sum_mean)

              sum        mean
            sales       sales
category
Accessories   200  200.000000
Electronics  6800  971.428571
Wearables     700  350.000000

# Find the average sales for Electronics

In [ ]:
average_sales_electronics = pivot_table_sum_mean.loc["Electronics", "mean"].values[0]
print(f"Average sales for Electronics: ${average_sales_electronics:.2f}")

Average sales for Electronics: $971.43

Average sales for Electronics: $971.43

# Calculate total sales by product and region, filling missing values with 0

In [ ]:
pivot_table_sales_by_product_region_filled = df.groupby(["product", "region"])["sales"].sum().unstack(fill_value=0)
print(pivot_table_sales_by_product_region_filled)

region      East  North  South  West
product
Headphones     0    200      0     0
Laptop      1200   1500      0  1400
Smartphone     0      0    900   750
Smartwatch   320      0      0   380
Tablet         0    600    450     0